@import "params";

@mixin clear {
  padding: 0;
  margin: 0;
}

@mixin clear-list {
  @include clear();
  list-style: none;
}

@mixin flex-center($dir: row, $justify-content: space-between) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify-content;
  align-items: center;
}
