@import "partials/mixins";
@import "partials/params";
@import "partials/fonts.scss";

html,
body {
  @include clear;
  width: 100%;
  font-size: 14px;
  //  font-family: "lbet-mt";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @include clear;
}

a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}
