@import "partials/mixins";
@import "partials/params";
.notification_overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.53);
  z-index: 999999;
  .notificaion_pop_up_container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 421px;
    padding: 30px 14px 37px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.59);
    overflow: hidden;
    .notif_img_container {
      width: 237px;
      height: 171px;
      background: url("./img/Group\ 469.png") no-repeat center center;
      background-size: 100%;
    }
    h1 {
      margin: 27px 0 14px;
      font-size: 20px;
      font-family: "lbet-mt";
      font-weight: normal;
      color: #363e5d;
    }
    .notif_sms_text {
      max-width: 322px;
      font-size: 15px;
      font-family: "lbet-std";
      font-weight: 300;
      font-style: normal;
      color: #000000;
      line-height: 1.2;
    }
    .comply_part {
      .notif_confirm_btn {
        margin-top: 29px;
        padding: 12px 23px;
        font-family: "lbet-mt";
        font-weight: normal;
        font-size: 16px;
        color: #ffffff;
        background-color: #4a5068;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
